<div class=board>
  {{#each board as |row| }}
    <div class="row">
      {{#each row as |cell|}}
        {{#individual-cell is_alive=cell.is_alive }} {{/individual-cell }}
      {{/each}}
    </div>
  {{/each}}
</div>

<button {{action "iterateBoard"}}>Step</button>

{{yield}}
